body{
   background: whitesmoke;
   font-family: 'Heebo';
   overflow: hidden;
}

p{
   font-family: 'Heebo';
}

button:focus {outline:0;}

button{
   font-family: 'Heebo';
   font-size: 18px
}

#stencilPreview{
   display:flex;
   height: 175px;
   width: 85%;
}

#treeImage{
   position: absolute;
   top: 0;
   left: 0;
   width: 22vw;
   height: 100%;
   user-select: none;
   -moz-user-select: none;
   -webkit-user-drag: none;
   -webkit-user-select: none;
   -ms-user-select: none;
}


#flowers{
   position: absolute;
   right: 5vw;
   bottom: 0;
   height: 200px;
   width: 300px;
   z-index: 3;
   user-select: none;
   -moz-user-select: none;
   -webkit-user-drag: none;
   -webkit-user-select: none;
   -ms-user-select: none;
}

#drawingList{
   visibility: hidden;
}

canvas{
   float: left;
   width: 100%;
   height: 100%;
   top:0;
   left:0;
   bottom:0;
   background: linear-gradient(179.96deg, #F9FCFE -5.71%, #F9FCFE 27.86%, rgba(207, 235, 244, 0.8) 80.93%);
}

#trash, #redo, #undo{
   border-radius: 50%;
   border-color: transparent;
   width: 40px;
   height: 40px;
   margin: 0;
   margin-right: 3px;
   margin-top: 5px;
   background-color: #219679;
}

#showStencils{
   border-radius: 50%;
   border-color: transparent;
   width: 25px;
   height: 25px;
   margin-top: 3vh;
   margin-right: 1vw;
   display: flex;
   position: absolute;
   background-color: #219679;
   background-image: url("./assets/stencilIcon.png");
   background-size: auto;
   background-repeat: no-repeat;
   background-position: center;
}

#trash{
   background-image: url("./assets/trashIcon.png");
   background-size: auto;
   background-repeat: no-repeat;
   background-position: center;
   margin-left: 25px;
}

#undo{
   background-image: url("./assets/undoIcon.png");
   background-size: auto;
   background-repeat: no-repeat;
   background-position: center;
}

#redo{
   background-image: url("./assets/redoIcon.png");
   background-size: auto;
   background-repeat: no-repeat;
   background-position: center;
}



#completeButton, #clearButton, #showStencils, #sizeSlider{
   right: 0;
   font-family: 'Heebo', sans-serif;
}

#completeButton{
   margin-top: 3vh;
   margin-bottom: 2vh;
   width: 80%;
   height: 45px;
   background: #194149;
   border-color: #194149;
   border-radius: 8px;   
   color: white;
   font-style: normal;
   font-weight: bold;
   font-size: 14px;
   line-height: 20px;
   font-family: 'Heebo';
}

#sizeSlider{
   width: 100%;
   margin: 0;
   -webkit-appearance: none;
   height: 10px;
   border-radius: 5px;  
   background: #BFEADF;
   outline: none;
   opacity: 0.7;
   -webkit-transition: .2s;
   transition: opacity .2s;
}

#sizeSlider::-webkit-slider-thumb{
   -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #4CAF50;
  cursor: pointer;
}

#sizeSlider::-moz-range-thumb{
   width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

label{
   display: block;
  color: black;
  font-size: 12px;
  font-family: 'Heebo';
  text-align: center;
  border-radius: 0px 12px 12px 0px;
  border: solid 2px transparent;
  background: #ffffff;
  justify-content: left;
  align-items: left;
  flex-direction: row;
  display: flex;
  margin-top: 5vh;
  margin-bottom:2vh;
  width: 40%;
}

.labelDivs{
   width: 70%;
   justify-content: left;
   align-items: left;
   flex-direction: row;
   display: flex;
   display: block;
}

#topButtons{
   flex-direction: row;
   justify-content: center;
   display: flex;
   height: 50px;
}

#completeButton :hover, #clearButton :hover, #showStencils :hover, #sizeSlider :hover{
   background-color:lightgray;
}

#colorPalette{
   right: 0;
   top:0;
   align-self: center;
   z-index: 4;
   position: fixed;
   display: flex;
   justify-content: space-evenly;
   flex-direction: column;
   height: 100vh;
   background-color: white;
   width: 15vw;
   align-items: center;
   box-shadow: -2px 4px 4px lightgray;
}

#redColor, #pinkColor{
   margin-top: 0;
   margin:0;   
}

#redColor, #pinkColor, #orangeColor, #yellowColor, #greenColor, #mintColor, #blueColor, #purpleColor, #whiteColor, #blackColor{
   width: 30px;
   height: 30px;
   border-radius: 100%;
   border-color: black; 
}

#orangeColor, #greenColor, #blueColor, #whiteColor{
   margin-right: 4vw;
   margin-top: 3vh;
}

#redColor{
   background: #F7325E;
   border: none;
   margin-right: 4vw;
}

#pinkColor{
   background: #F96574;
   border: none;
}

#orangeColor{
   background: #FFB629;
   opacity: 0.8;
   border: none;
}

#yellowColor{
   background: #ECD12E;
   opacity: 0.8;
   border: none;
}

#greenColor{
   background: #A4C963;
   opacity: 0.8;
   border: none;
}

#mintColor{
   background: #5CBF9F;
   opacity: 0.8;
   border: none;
}

#blueColor{
   background: #75C9E3;
   opacity: 0.8;
   border: none;
}

#purpleColor{
   background: #8B699B;
   opacity: 0.8;
   border: none;
}

#whiteColor{
   background: #FFFFFF;
   opacity: 0.8;
   border: 1px solid black;
}

#blackColor{
   background: #000000;
   opacity: 0.8;
   border: none;
}

#completeScreen, #stencilScreen{
   position: fixed; 
   display: none;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0,0,0,0.5);
   z-index: 8;
   cursor: pointer;
   justify-content: center;
   flex-direction: row;
   align-items: center;
}

#iguanaStencil, #monkeyStencil, #jaguarStencil, #toucanStencil, #frogStencil, #slothStencil{
   margin-top: -2vh;
   margin-left: -1vw;
   position: fixed;
   background: #194149;
   border-radius: 50%;
   height: 30px;
   width: 30px;
   border-color: transparent;
   color: white;
   font-weight: 900px;
}

#column1, #column2{
   width: 50%;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}

.stencilImages{
   width: 20vw;
   height: 25vh;
   background-color: white;
   margin-bottom: 4vh;
}

#column1{
   margin-left: 28vw;
   margin-top: 5vh;
}

#column2{
   margin-left: -28vw;
   margin-top: 5vh;
}


#removeStencil{
   position: absolute;
   top:0;
   background: #194149;
   border-bottom-left-radius: 6.5px;
   border-bottom-right-radius: 6.5px;
   border-color: transparent;
   color: white;
   width: 10vw;
}


/* DOUBLE CHECKING OVERLAYS */
#trashScreen, #completeCheckScreen{
   position: fixed;
   display: none;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   width: 46%;
   height: 25%;
   background-color: white;
   z-index: 6;
   cursor: pointer;
   justify-content: center;
   flex-direction: column;
   align-items: center;   
}

#overlayBackground {
   display: none;
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: 5;
   background-color: grey;
   opacity: 0.5;
}

/* OVERLAY BUTTONS/INPUTS */
#completeYes, #trashYes{
   border: 1px solid #219679;
   color: #219679;
   box-sizing: border-box;
   border-radius: 6.5px;
   margin-right: 25px;
   height: 6vh;
   width: 15vw;
   margin-top: 5vh;
}

#completeNo, #trashNo{
   background: #219679;
   border-radius: 6.5px;
   border-color: transparent;
   color: white;
   margin-top: 5vh;
   height: 6vh;
   width: 15vw;
}

#creatureName{
   border-radius: 6.5px;
   border-color: transparent;
   width: 30vw;
   height: 5vh;
   margin-top: 1vh;
   grid-area: name;
}

#downloadLink, #finishButton{
   border-radius: 4px;
   border-color: transparent;
   background-color: #194149;
   color: white;
   margin-top: 1vh;
   font-family: 'Heebo';
   height: 5vh;
   width: 10vw;
}



#completeDiv{
   background-image: url("../assets/export.png");
   background-size: 100% 100%;
   background-repeat: no-repeat;
   background-position: center;
   display: grid;
   width: 100%;
   height: 100%;
   grid-template-areas: "final final final final"
                        "nText name download finish";
   grid-template-rows: 80% 20%;
   grid-template-columns: 25vw 30vw 27.5fr 1fr;
  
}
#drawingFinal{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 30vh 25% 0 25%;
   width: 50%;
   height: 50%;
   grid-area: final;
}
#nameText{
   grid-area: nText;
   margin-left: 10vw;
   margin-top: 3vh;
}
#downloadLink{
   grid-area: download;
   margin-left: 3vw;
}
#finishButton{
   grid-area: finish;
   margin-left: 2vw;
}

#creatureFinal{
   margin: 0 35% 0 35%;
}